/**
 * A resume theme based on Marp's Default theme.
 *
 * @theme resume
 *
 * @size A4D72 595px 842px
 * @size A4D96 794px 1123px
 * @size A4D150 1240px 1754px
 * @size A4D300 2480px 3508px
 */
@import "default";

/* layout */
section {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    padding: 50px 60px;
    background-color: white;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* your name */
h1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;
    color: #000;
}

/* job title */
h1 + p {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 2rem;
    font-size: 20px;
    color: #666;
    font-weight: 500;
}

h2,
h3,
p {
    text-align: left;
}

/* section title */
h2 {
    font-size: 26px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #000;
}

/* company or project title */
h3 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #111;
}

/* career periods or meta info */
h3 + p:has(em),
h3 + p > strong:only-child {
    text-align: right;
    margin-top: -42px;
    font-family:
        "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 16px;
    color: #888;
}

/* horizontal line replacement for page break */
hr {
    border: none;
    height: 1px;
    background-color: #eee;
    margin: 40px 0;
}

/* project detail */
h4 {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #444;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* profile table */
table {
    display: table;
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table thead {
    display: none;
}

table tr {
    border: none;
}

table tr:nth-child(2n) {
    background-color: transparent;
}

table td {
    border: none;
    padding: 4px 0;
    font-size: 16px;
    color: #444;
}

table td strong {
    color: #222;
}

/* work experience */
h3 code {
    font-size: 0.9em;
    font-family: inherit;
    color: #666;
    background: #f3f3f3;
    padding: 2px 6px;
    border-radius: 4px;
}

p,
li {
    color: #444;
    font-size: 17px;
    margin-bottom: 8px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 6px;
}

h3 img,
p img,
li img {
    vertical-align: middle;
}

p strong,
li strong {
    font-weight: 600;
    color: #111;
}

/* Skill tags style */
code {
    font-family: "SFMono-Regular", Consolas, monospace;
    background-color: #f6f8fa;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    font-size: 85%;
}
